@font-face{
    font-family: 'Futura Bk BT';
    src: url('./assets/fonts/FutuBk.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: 'Futura Bk BT';
    src: url('./assets/fonts/FuturaBookBT.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('./assets/fonts/FutuBkIt.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Futura Bk BT Small';
    src: url('./assets/fonts/Futura_20Medium_20BT.ttf');
    font-style: normal;
    font-weight: 200;
}